
/*Global*/

$font-text: "droid-serif", serif;
$font-header: 'Montserrat', sans-serif;

/*Body*/
body{
	color:black;
}
.section-title{
	font-family: $font-header;
	font-size: 40px;
	margin: 14px 0;
}
.section-sublitle{
	font-family: $font-header;
	font-size: 18px;
	font-style: bold;
}
body p{
	font-family: $font-text;
	font-size: 14px;
}

/*Header*/
header {
	background-image: url("../images/Background_Image.png");
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat';
	margin: -15px -15px 0 -15px;
}
.navbar .nav .nav-item .nav-link{
	text-decoration: none;
}

header .container .navbar{
	display: flex;
	justify-content: space-between;
}

header .container .navbar .inner{
	width: 100%;
	text-align: left;
	margin: auto;
}

header .container .navbar .nav{
	list-style-type: none;
	width: 100%;
	display:flex;
	justify-content: end;
}
header .container .navbar .nav-item{
	float: right;
	padding-right: 20px;
	
}
header .container h3{
	font-size: 40px;
	font-style: italic;
	margin: 20px 0;
}
header .container h2{
	font-size: 80px;
	margin: 20px 0;
}
header .row {
	text-align: center;
	color: white;
}
header .container .row{
	padding: 158px 0;
	justify-content: center;
}
/*
header .container .row h2{
	padding: 10% 0;
}*/

header .container .row .btn{
	width: 243px;
	height: 63px;
	background-color: #FEE89A;
	border-radius: 5%;
	color:white;
	font-weight: 400;
	padding: 20px 0;
	text-decoration: none;
	font-size: 22px;

}

/*Cards*/

.cards{
	padding: 3% 0;
}
.cards h5{
	font-family: $font-header;
	font-size: 18px;
	font-style: bold;
}
.card {
	width: 30%;
	margin-top: 3%;
	justify-content: center;
	text-align: center;
	background-color: white;
}

.cards .container .row .card .card-img {
	max-width: 100%;
	object-fit: cover;
}
	
.cards .container{
	padding: 5rem;
}

/*Services*/

.services {
	background-color: white;
	padding: 6% 0;
}

.services .container .row{
	text-align: center;
	//padding: 6% 0;
	display: inline;
}

.services .col-4 i{
	width:50px;
	height:50px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 50%;
	background-color: white;
	padding: 10px;
	border: solid;
	border-color:#FEE89A ;
}

.services .col-4 a{
	font-size: 0;
	color:#FEE89A;
}
.col-4{
	width: 33.3333%;
	display: inline-block;
}

/*Cards*/

.cards .container .row h4,p{
	text-align: center;
}
.col-4{
	width: 33.3333%;
}

.cards .container .row{
	justify-content: space-between;
}

.cards {
	background-color: #F7F7F7;
}
.cards .container .row .card sm-1 .card-img img{
	object-fit: cover;
}
.title{
	display: block;
}
/*Footer*/

footer ul li{
	display: inline-flex;
	list-style-type:none;
	font-size:0;
}

footer ul li i{
	width:40px;
	height:40px;
	font-size: 1.5rem;
		border-radius: 50%;
	background-color: white;
	text-align: center;
	padding: 25% 0;
}

footer{
	background-color: #FFFFFF;
}
footer p{
	padding: 5%;
}

/*Media*/

@media (max-width: 767px) and (max-width: 991px) {
	cards .container .row .card sm-1{
		display:block;
		flex-direction: column;
		max-width: 100%;
	}
}