
/*Global*/

$font-text: "droid-serif", serif;
$font-header: 'Montserrat', sans-serif;

/*Body*/
body{
	color:black;
}
.section-title{
	font-family: $font-header;
	font-size: 40px;
	font-style: bold;
}
.section-sublitle{
	font-family: $font-header;
	font-size: 18px;
	font-style: bold;
}
body p{
	font-family: $font-text;
	font-size: 14px;
}

/*Header*/
header {
	background-image: url("../images/Background_Image.png");
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat';
}
header .container h3{
	font-size: 40px;
	font-style: italic;
}
header .container h2{
	font-size: 80px;
}
header .row {
	text-align: center;
	color: white;
}
header .container .row{
	padding: 10% 0;
	justify-content: center;
}

header .container .row h2{
	padding: 10% 0;
}

header .container .row button{
	width: 243px;
	height: 63px;
	color: white;
}

/*Cards*/

.cards{
	padding: 3% 0;
}
.cards h5{
	font-family: $font-header;
	font-size: 18px;
	font-style: bold;
}
.card {
	width: 30%;
	margin-top: 3%;
	justify-content: center;
	text-align: center;
}

.card-img {
	max-width: 100%;
	object-fit: cover;
}
.cards .container{
	padding: 5rem;
}

/*Services*/

.services {
	background-color: white;
	padding: 6% 0;
}

.services .container .row{
	text-align: center;
	padding: 6% 0;
}

.services .col-4 i{
	width:50px;
	height:50px;
	font-size: 1.5rem;
	text-align: center;
	border-radius: 50%;
	background-color: white;
	padding: 10px;
	border: solid;
	border-color:#FEE89A ;
}

.services .col-4 a{
	font-size: 0;
	color:#FEE89A;
}

/*Cards*/

.cards .container .row h4,p{
	text-align: center;
}

.cards .container .row{
	justify-content: space-between;
}

.cards {
	background-color: #F7F7F7;
}

/*Footer*/

footer ul li{
	display: inline-flex;
	list-style-type:none;
	font-size:0;
}

footer ul li i{
	width:40px;
	height:40px;
	font-size: 1.5rem;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	padding: 25% 0;
}

footer{
	background-color: #FFFFFF;
}
