
/*Global*/

$font-text: "droid-serif", serif;
$font-header: 'Montserrat', sans-serif;

/*Body*/
body {
	color:black;
	margin: 0;
}
	
.section-title {
	font-family: $font-header;
	font-size: 40px;
	margin: 14px 0;
}

body p {
	font-family: $font-text;
	font-size: 14px;
}

/*Header*/

header {
	background-image: url("../images/Background_Image.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat';
}

.navbar .nav .nav-item .nav-link {
	text-decoration: none;
}

header .container .navbar {
	display: flex;
	justify-content: space-between;
}

header .container .navbar .inner {
	width: 100%;
	text-align: left;
	margin: 16px 0;
}

header .container .navbar .nav {
	list-style-type: none;
	width: 100%;
	justify-content: end;
}

header .container .navbar .nav-item {
	float: right;
	padding-right: 20px;
}

header .container h3 {
	font-size: 40px;
	font-style: italic;
	margin: 20px 0;
}

header .container h2 {
	font-size: 80px;
	margin: 20px 0;
}

header .row {
	text-align: center;
	color: white;
}

header .container .row {
	padding: 158px 0;
	justify-content: center;
}

header .container .row .btn {
	width: 243px;
	height: 63px;
	background-color: #FEE89A;
	border-radius: 5%;
	color:white;
	font-weight: 400;
	padding: 20px 0;
	text-decoration: none;
	font-size: 22px;
}

/*Cards*/

.cards {
	padding: 3% 0;
}

.cards h5 {
	font-family: $font-header;
	font-size: 18px;
}

.card {
	margin-top: 3%;
	justify-content: center;
	text-align: center;
	background-color: white;
}

.cards .container .row .card .card-img {
	max-width: 100%;
	object-fit: cover;
}
	
.cards .container {
	padding: 5rem;
}

/*Services*/

.services {
	background-color: white;
	padding: 6% 0;
}

.services .container .row {
	text-align: center;
	display: inline;
}

.services .col-12 i {
	width:50px;
	height:50px;
	font-size: 1.5rem;
	border-radius: 50%;
	background-color: white;
	border: solid;
	border-color:#FEE89A ;
	line-height: 40px;
	color:#FEE89A
}

.col-12 {
	display: inline-block;
}

/*Cards*/

.cards .container .row h4,p {
	text-align: center;
}

.cards .container .row {
	justify-content: space-between;
}

.cards {
	background-color: #F7F7F7;
}

.cards .container .row .card sm-1 .card-img img {
	object-fit: cover;
}

.title {
	display: block;
}

/*Footer*/

footer ul li {
	display: inline-flex;
	list-style-type:none;
	font-size:0;
}

footer ul li i {
	width:40px;
	height:40px;
	font-size: 1.5rem;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	padding: 25% 0;
}

footer {
	background-color: #FFFFFF;
}

footer p {
	padding: 5%;
}

/*Media*/

@media (max-width: 767px) and (max-width: 991px) {
	cards .container .row .card sm-1{
		display:block;
		flex-direction: column;
		max-width: 100%;
	}
}